@charset "UTF-8";

*{
	font-family : 'Miriam Libre';
}

h3{
	margin:auto;
	text-align: center;
}
table{
	border: 1px solid gray;
	border-collapse: collapse;
	margin:auto;
}

th,td{
	padding:5px 10px;
	border: 1px solid gray;
	text-align: left;
}

th{
	font-weight:normal;
	background-color:darkblue;
	color:white;
}

#wrapper{
	margin:0 auto;
}
